body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    border: 1.5px solid black;
}
.contonair{
    position: fixed;
    color: #000000;
    bottom: 30%;
    left:40%;
}
img{
    width: 30%;
    height: auto;
    
}#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: calc(0.55);
}
h1{
    color: #000000;
    font-size: 4em;
    text-align: center;
    position: fixed;
    top: 10%;
}
